footer {
	width: 100%;
	text-align: center;
	background-color: lightblue;
	margin-top: auto;
}
footer::after {
	content: "Copyright: birdwatcherYT"
}
body {
	min-height: 95vh;
	flex-direction: column;
	display: flex;
}